h1{
            color: rgb(10, 61, 103);
        }
        a{
            text-decoration: none;
            padding: 10px 20px;
            color: blue;
            background-color: orange;
            border-radius: 10px;
            transition: 0.4s;
        }
        a:hover{
            /* text-transform: scale(1.2); */
            background-color: rgb(30, 101, 7);
            color: #fff;
        }